.container-box {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  /* order: -5; */
  justify-content: center;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 0.8s ease-in;
}

/* 
.container-row {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.content-item {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.centralize {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */

/* Card {
} */
