.container-box {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.7s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 0.7s ease-in;
}

#jumbotron-section {
  background-color: #ef5350;
}

a.link-reference,
a.link-reference:hover {
  color: #b3d4fc;
  font-weight: 400;
}

#general-button-class,
#previous-button,
#next-button {
  /* color: #198cd2; */
  background-color: #1b95e0;
  border-color: #1b95e0;
}

#general-button-class:hover,
#previous-button:hover,
#next-button:hover {
  /* color: #198cd2; */
  background-color: #198cd2;
  /* border-color: #198cd2; */
}

#general-button-class:active,
#previous-button:active,
#next-button:active {
  /* color: #198cd2; */
  background-color: #1677b2;
  /* border-color: #1677b2; */
}

/* 
.container-row {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.content-item {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.centralize {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */

/* Card {
} */
