/* Project Grid */
.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 10%;
  margin-right: 10%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.container {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  /* order: -5; */
  justify-content: center;
}

/* 
CardBox {
  transition: all 2s ease-in 2s;
}

CardBox:hover {
  transform: scale(1.1);
} */
