.container-box .flex-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0 25%;
  margin: 10px;
  width: 300px;
  background-color: #ebf5f0 !important;
}